footer{
    height: 260px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.885);
    color: rgba(255, 255, 255, 0.801);
}
.foot-box{
    margin: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lef-box h1{
    font-size: 40px;
    font-family: Outfit;

}
.lef-box{
    padding: 30px;
}
.rog-box{
    padding: 12px;
}