.allItem {
  height: 100vh;
  margin-left: 350px;
  width: auto;
  position: relative;
  top: -860px;
  text-align: center;
  right: 0;
  padding: 40px 50px;
}
.all-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
